.footer-cont {

    width: 100%;

    .footer {
        background:#F8F8F8;
        padding: 20px;
        display: flex;
        justify-content: center;

        p {
            margin: 0;
            color:
                #949494
        }
    }
}