.latest_news-cont {
    width: 100%;


    @media screen and (max-width: 390px) {
        min-height: 330px;
        margin-top: 20px;
    }

    .heading {

        margin-bottom: 20px;
        @media screen and (max-width: 390px) {
            margin-bottom: 30px;
            
        }
        p {
            margin: 0;
            font-size: 36px;
            font-weight: 700;
            color:  #121221;

        @media screen and (max-width: 390px) {
        font-size: 24px;

    }
        }

    }

    .description {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
@media screen and (max-width: 390px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
        

        .box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            // gap: 20px;
      

            img {
                width: 100%;
                height: 60%;
                object-fit: cover; 
                object-position: center;
                border-radius: 10px;
                margin-bottom: 10px;
            }

            .desc {
                font-size: 24px;
                font-size: 700;
                margin-top: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0;
                margin-bottom: 20px;

                @media screen and (max-width: 390px) {
                    font-size: 15px;
                    
                }
         
            }

            .time {
                font-size: 12px;
                font-weight: 400;
                margin: 0;
                margin-bottom: 40px;
                color:  #949494;


                @media screen  and (max-width: 390px) {
                    margin-bottom: 0;
                    
                }

            }

 

            p {
                
            }
        }
    }


    .error-cont {
        width: 100%;

        .error {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }



    .spinner-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .loader {
        width: 100%;
        height: 100%;
        // height: 200px;

        @media screen and (max-width: 390px) {
            height: 200px;

            
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

    }
}