.topic-cont {
    width: 100%;

    .heading {
        margin-bottom: -20px;
        p {
            margin: 0;
            font-size: 48px;
            font-weight: 700;
            color: #121221;

        }

    }

    .topic_image {
        width: 110%;


        img {
            width: 100%;
            margin-left: -37px;
         

        }

    }
}