.topic-cont {
    width: 100%;
    position: relative;

    .heading {
        margin-bottom: -20px;


        @media screen and (max-width: 390px) {
            margin-bottom: 1px;
            
        }
        p {
            margin: 0;
            font-size: 48px;
            font-weight: 700;
            color: #121221;

            @media screen and (max-width: 390px) {
                font-size: 36px;
                
            }

        }

    }

    .topic_image {
        width: 110%;

        @media screen and (max-width: 390px) {
            width: 110%; border-radius: 50px;

            
        }

        img {
            width: 100%;
            margin-left: -37px;
        

            @media screen and (max-width: 390px) {
                margin-left: -10px;
                border-radius: 50px;
                width: 100%;
                
            }
         

        }

        p {
            color: black;
        }

    }

    .head-image {
        position: absolute;
              top: 250px;
        left: 50px;

        @media screen and (max-width: 390px) {
            position: absolute;
            top: 100px;
            width: 100%;
            left: 10px;
            
        }

        .title {
            width: 60%;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
            color:  #F8F8F8;

            @media screen and (max-width: 390px) {
                font-size: 16px;
                line-height: 18.75px;
                font-weight: 700;
                width: 100%;

                
            }
        }

        .time {
            color:  #F8F8F8;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: white;
            
            @media screen and (max-width: 390px) {


                
            }
        }
    }
}